@import 'mixin';

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
.content {
  margin: 1em;
}
.ng-title-icon > i {
  background-image: url("../assets/ng.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1.2em;
}
.title {
  margin-right: 1em;
}

.router-link-active {
  @include primary-background-contrast-color;
}
pre {
  background-color: map-get($accent, 100);
  padding: 1em;
  font-size: 16px;
  line-height: 2em;
  width: 400px;
}

// Characters and Planets
[md-header] {
  @include primary-color;
}

.detail {
  float: left;
  margin: 0.5em 0 0 2em;
  // width: 17em;
}
.selected {
  @include selected-style;
}
md-list {
  float: left;
  margin: 0 0 2em 0;
  width: 12em;
  border-right: 1px solid #CCC;
  cursor: pointer;
  height: 600px;
  overflow: scroll;
}
md-list md-list-item.selected:hover {
  @include selected-hover-style;
}
md-list md-list-item:hover {
  left: .1em;
  @include hover-style;
}

md-list-item.mat-list-item span {
    font-size: 14px;
}

.progress {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 2em 0em;
}

.snack {
  @include selected-style;
}

.counter {
  & span {
    font-size:14px;
  }
}
